{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'fourchar/styles.css' %}"
/>
<section>
    <form action="search" method="get">
    <label for="q"><h2>Find Chengyus containing:</h2></label>
    <input type="text" id="q" name="q" />
    <button type="submit">Search</button>
  </form>
</section>

<section>
  {% if most_common_chengyus %}
  <h2>Or read prior Chengyus:</h2>
  <ul>
    {% for chengyu in most_common_chengyus %}
    <li>
      <a href="/admin/fourchar/chengyu/{{ chengyu.id }}/change"
        >{{ chengyu.chengyu_text }} => {{ chengyu.chengyu_translation }}</a
      >
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Looks like you haven't translated or updated any Chengyu.</p>
  {% endif %}
</section>
